.flex-row__start-start {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.flex-row__center-start {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.flex-column__space-between-center {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

.flex-row__start-center {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

.flex-row__start-center {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}
