.first-block {
    height: 100vh;
    padding: 24px;
}

.first-block__header {
    margin: 12px;
}

.first-block__content {
    text-align: center;
}

.first-block__content-title--hide {
    opacity: 0;
}

.first-block__content-menu-wrap {
    margin: 0;
}

.second-block {
    height: 100vh;
}

body {
    margin: 0;
}
